/*
Theme Name: Candy Phonk
Author: Nigel Stewart
Author URI: http://www.nigelstewart.tech
*/

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(200, 200, 200);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 22px;
}

a {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.row {
  margin: 0px;
}

.flex-main {
  flex: 1 0 auto;
}

.meta {
  padding-left: 40px;
  display: none;
}

body > div > .meta > a > img {
  margin-top: 40px;
  width: 15vw;
  max-width: 150px;
}

.meta > ul > li {
  list-style-type: none;
}

.article, input {
  transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}

.logo-container {
  text-align: center;
}

nav {
  text-align: center;
  border-bottom: 2px solid rgb(200, 200, 200);
  -webkit-border-image: url('images/rainbow_gradient.png') 30; /* Safari 3.1-5 */
  -o-border-image: url('images/rainbow_gradient.png') 30; /* Opera 11-12.1 */
  border-image: url('images/rainbow_gradient.png') 30;
}

nav > .search > form {
  margin: 0; padding: 0;
  margin: 18px 0;
}

nav > .search > form > div {
  float: none !important;
  padding: 0; margin: 0 auto;
}

nav > .search > form > div > input {
  width: 90%;
  margin: 0; padding: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: rgb(200, 200, 200);
  background-color: rgb(0, 0, 0);
  border: 0px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

nav > .search > form > div > input:focus {
  outline: none;
  border: 0px;
  border-bottom: 1px solid rgb(200, 200, 200);
}

nav > #menu-trigger {
  padding: 3px;
  border-radius: 3px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

nav > #menu {
  display: none;
  clear: both;
}

nav > ul > li {
  display: block;
  margin: 20px 0;
}

.article {
  position: relative;
  padding: 0; margin: 0;
  margin-bottom: 30px;
}

.article > h2 {
  font-size: 20px;
  margin: 0; padding: 5px;
  background-color: rgb(195, 40, 124);
}

.article > img {
  width: 100%;
  bottom: 0;
}

#pagination {
  font-size: 16px;
  text-align: center;
  margin-bottom: 12px;
}

#pagination > a {
  padding: 4px;
}

footer {
  padding: 10px;
  background-color: rgb(40, 40, 40);
}

footer > span {
  font-size: 12px;
}

footer > .row {
  margin-bottom: 20px;
}

footer > .row > .connect > ul > li {
  margin: 0; padding: 0;
  list-style-type: none;
  display: inline;
}

footer > .row > .connect > ul > li > a {
  color: rgb(186, 111, 41);
  font-size: 20px;
  padding: 10px;
  transition: all .2s ease-in-out;
}

footer > .row > .connect > ul > li > a:hover {
  color: rgb(215, 155, 99);
}

ul {
  margin: 0; padding: 0;
}

#post-date {
  font-size: 16px;
}

.parallax-window {
  margin-top: 10px;
  width: 100%;
  height: 400px;
}

@media (min-width: 767px) {
  main {
    display: flex;
    align-items: center;
  }

  nav {
    text-align: left;
  }

  nav > .search > form > div {
    float: right !important;
  }

  nav > .search > form > div > input {
    width: 80%;
  }

  nav > #menu-trigger {
    display: none;
  }

  nav > #menu {
    display: block !important;
    clear: both;
  }

  nav > ul > li {
    display: inline-flex;
    margin: 20px;
  }

  .article {
    margin-bottom: 0px;
  }

  .meta {
    display: block;
    padding-left: 40px;
  }

  .meta > a {
    margin-top: 40px;
  }

  .logo-container {
    display: none;
  }
}
